/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;  
  background-color: rgb(12, 35, 68);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #2566ab77;
    border-radius: 10px;
    padding: 1.0rem;
    margin: 0px;
    height: 95%;
}

html[data-theme="dark"] .features {
    background: #1F1F1F 0% 0% no-repeat padding-box;
  }

.features:hover {
    box-shadow: 0px 0px 10px #1791c0;
  }

.features img {
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    height: 160px;
}

.features p, .features h3{
    color: #303030;
  }

html[data-theme="dark"] .features p, 
html[data-theme="dark"] .features h3 {
    color: #f5f6f7;
}

.features p {
    opacity: 0.75;
  }

.featureImage {
  height: 200px;
  width: 200px;
}

.features a {
    color: var(--ifm-font-base-color);
}

.features a:hover {
    text-decoration: none;
}

.features p {
    opacity: 0.75;
  }